!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/ 
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    - if notice
      %p.alert.alert-notice= notice
    - if alert
      %p.alert.alert-error= alert
    = yield
    .chat-group-form
      = form_for(@group) do |f|
        %h1 新規チャットグループ
        .chat-group-form__field.clearfix
          .chat-group-form__field--left  グループ名
          .chat-group-form__field--right
            = f.text_field :name
        .chat-group-form__field.clearfix
          .chat-group-form__field--left  メンバー
          .chat-group-form__field--right
            .chat-group-form__search.clearfix
              = collection_check_boxes(:group, :user_ids, User.all, :id, :name) do |b|
                = b.label { b.check_box + b.text }
            #user-search-result
        .chat-group-form__field.clearfix
          .chat-group-form__field--left
          .chat-group-form__field--right
            = f.submit "data-disable-with" => "Save", :name => "commit", :value => "Save"
